---
import CardImage from "./CardImage.astro";
import CardInfo from "./CardInfo.astro";
import CardStat from "./CardStat.astro";
---

<article class="flex flex-col w-[360px] 2xl:w-[1080px] 2xl:flex-row-reverse">
  <CardImage />

  <div
    class="flex flex-col gap-8 p-8 bg-c-desaturatedBlue rounded-b-lg 2xl:w-1/2 2xl:p-16 2xl:rounded-none 2xl:rounded-l-lg">
    <CardInfo />

    <div class="flex flex-col gap-8 2xl:flex-row 2xl:justify-between 2xl:flex-grow 2xl:max-w-[40ch]">
      <CardStat
        text="companies"
        value="10k+"
      />
      <CardStat
        text="templates"
        value="314"
      />
      <CardStat
        text="queries"
        value="12M+"
      />
    </div>
  </div>
</article>
