<div class="relative after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-c-softViolet after:bg-opacity-55 after:rounded-t-lg after:2xl:rounded-none after:2xl:rounded-r-lg ">
    <img src="images/image-header-desktop.jpg" alt="A bunch of people working" class="rounded-t-lg 2xl:rounded-none 2xl:rounded-r-lg">
</div>